@keyframes rainbow {
  0% { background: rgb(65, 196, 222); }
  25% { background: rgb(140, 199, 63); }
  50% { background: rgb(243, 211, 51); }
  75% { background: rgb(247, 142, 86); }
  100% { background: rgb(65, 196, 222); }
}
@keyframes rainbowBorder {
  0% { border-color: rgb(65, 196, 222); }
  25% { border-color: rgb(140, 199, 63); }
  50% { border-color: rgb(243, 211, 51); }
  75% { border-color: rgb(247, 142, 86); }
  100% { border-color: rgb(65, 196, 222); }
}
/* Kahoot Winner's dance */
@keyframes safetydance {
  0%{
    transform: rotateZ(15deg) translate(.75rem,0);
  }
  50%{
    transform: rotateZ(-15deg) translate(-.75rem,0);
  }
  100%{
    transform: rotateZ(15deg) translate(.75rem,0);
  }
}
/* Kahoot's dance */
@keyframes windance {
  0% {
    transform: rotate(0deg) translateX(0%);
    transform-origin: 50% 50%;
  }
  25% {
      transform: rotate(-10deg) translateX(-10%);
      transform-origin: 100% 50%;
      animation-timing-function: linear;
  }
  50% {
      transform: rotate(0deg) translateX(0%);
      transform-origin: 50% 50%;
  }
  75% {
      transform: rotate(10deg) translateX(10%);
      transform-origin: 0% 50%;
      animation-timing-function: linear;
  }
  100% {
      transform: rotate(0deg) translateX(0%);
      transform-origin: 50% 50%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hide {
  0%{
    transform: translateX(0%);
  }
  50%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.rainbow{
  animation: rainbow 14s infinite;
}
.correct{
  animation: rainbowBorder 7s infinite;
  border-width: 0.5rem !important;
  box-shadow: black 0.25rem 0.25rem 0.15rem;
  z-index: 0;
}
.rainbow.correct{
  animation: rainbow 14s infinite,rainbowBorder 7s infinite;
}
body.green{
  background: rgb(102,191,57);
}
body.blue{
  background: #4444ff;
}
body.red{
  background: rgb(226,27,60);
}
body.purple{
  background: rgb(70,23,143);
}
body.purple2{
  background: rgb(134, 76, 191);
}
span.red{
  color: rgb(226,27,60);
}
span.green{
  color: rgb(102,191,57);
}
span.yellow{
  color: rgb(216,158,0);
}
body{
  position: relative;
  height: 100%;
}
body,html{
  touch-action: pinch-zoom pan-y;
  overflow: hidden;
  margin: 0px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}
.Main, .lobby, .Login, #ui{
  height: 100%;
}
.block{
  display: block;
}
#settings{
  pointer-events: none;
  touch-action: inherit;
  top: 0;
  position: absolute;
  opacity: 0;
  left: 0px;
  width: calc(100% - 8px);
  height: 100%;
  max-height: calc(100% - 8px);
  transition: 0.5s;
  color: #f8f8f8;
  background: rgba(0,0,0,0.8);
  border: solid 4px grey;
  overflow: visible;
  z-index: 100;
}
.misc img{
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 5000;
}
#menu_toggle{
  display: none;
}
#menu_toggle:checked + #settings{
  pointer-events: all;
  opacity: 1;
}
.form h3 label{
  font-style: normal !important;
}
.form select{
  min-width: 15rem;
  max-width: 15rem;
  border-radius: 0.75rem;
  min-height: 1.6rem;
  margin-bottom: 0.25rem;
  font-size: 1.4rem;
  border-bottom: 0.1rem solid #44a;
  background: rgb(104,155,60); /* #6e6 (old color) */
  color: #efefef;
}
.form h3{
  margin-top: 0px;
  margin-bottom: 0px;
}
.form .button > span{
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #efefef;
  min-width: 14rem;
  text-align: center;
  background: #39f;
  font-style: normal;
}
.form{
  touch-action: inherit;
  display: flex;
  font-size: 1.4rem;
  max-height: 100%;
  overflow: auto;
  position: relative;
}
.form > div{
  max-height: 100%;
  overflow: auto;
  flex: 1;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.form input{
  display: inline-block;
  margin-bottom: 0.25rem;
  border: 0px solid transparent;
  border-bottom: 0.1rem solid #44a;
  background: #59c; /* #adf (old) */
  color: #efefef;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 14rem;
  height: 1.6rem;
  font-weight: 300;
  font-size: 1.2em;
}
.form input::placeholder{
  color: #bbb;
}
.form input.ch{
  display: none;
}
.form input.ch:checked + label > span{
  background: url(resource/green.png);
}
.form label{
  font-style: oblique;
}
.form label.ch{
  font-style: normal;
  display: block;
}
.form label.ch > span{
  margin-bottom: 0.75rem;
  transition: 1s;
  background: url(resource/red.png);
}
.form .mobireload img{
  max-width: 4rem;
  display: inline-block;
  margin-right: 1rem;
}
.displayFlex{
  display: flex;
}
.flex{
  flex: 1;
}
.mobireload{
  display: none;
}
.shortcut{
  display: inline-block;
  margin: 0;
  margin-left: 0.25rem;
  font-size: 1.2rem;
  color: #ddd;
  font-style: normal;
}
.shortcut::after{
  content: ")";
}
.shortcut::before{
  content: "(";
}
.shortcut2{
  display: inline-block;
  margin: 0;
  margin-left: 0.25rem;
  font-size: 1.2rem;
  color: #ddd;
  font-style: normal;
}
.shortcut2::after{
  content: ")";
}
.shortcut2::before{
  content: "(";
}
.faded{
  opacity: 0.7;
  pointer-events: none;
}
.fadedm{
  opacity: 0.7;
}
.Error{
  z-index: 100;
  position: absolute;
  transition: 1s;
  min-width: 10vw;
  max-width: 80vw;
  height: 15vh;
  right: -100%;
  background: rgb(200,0,0);
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  top: 2vh;
  font-size: 1.5em;
}
.Error::before{
  content: "";
  position: absolute;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 15vh 20px;
  border-color: transparent transparent rgb(200,0,0) transparent;
}
.Error::after{
  top: 0px;
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  right: -20px;
  border-style: solid;
  border-width: 15vh 20px 0 0px;
  border-color: rgb(200,0,0) transparent transparent transparent;
}
.Error *{
  flex: 1;
}
.Error:hover ::before{
  content: "X";
  color: black;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
.openended{
  height: 4rem;
  text-align: center;
  font-size: 3rem;
  max-width: 30rem;
  margin-left: calc((50vw - 1rem) - 15rem);
  background: skyblue;
  margin-top: 25%;
}
.openended::placeholder{
  font-size: 1.75rem;
}
.NotError{
  background: rgb(0,200,0) !important;
}
.NotError::before{
  content: "";
  border-color: transparent transparent rgb(0,200,0) transparent !important;
}
.NotError::after{
  border-color: rgb(0,200,0) transparent transparent transparent !important;
}
.Changelog{
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  transition: 0.5s;
}
.Changelog a{
  color: white;
}
.Changelog > div{
  position: relative;
  flex: 1;
  text-align: left;
  height: 80%;
  max-width: 40rem;
  margin-left: calc(50vw - 20rem);
  border-radius: 2rem;
  background: black;
  color: white;
  overflow-y: auto;
}
.Changelog > div > *{
  padding-left: 0.5rem;
}
#changelog:checked + .Changelog{
  opacity: 1;
  z-index: 99;
}
#changelog{
  display: none;
}
#chnge{
  position: fixed;
  bottom: 1rem;
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 60%;
}
#chnge span{
  font-size: 0.75rem;
}
#changelogclose{
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 90%;
  font-size: 2.5rem;
  background: grey;
  padding: 0.25rem;
  border-radius: 1rem;
}
.Login{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.Login img{
  max-height: 5.75rem;
  height: 5.75rem;
  margin-bottom: 1.5rem;
  margin-top: calc(50vh - 9.5rem);
}
.Login input, .Login button{
  display: block;
  width: 16rem;
  max-width: 16rem;
  font-weight: 800;
  text-align: center;
  height: 2.5rem;
  font-size: 1.25rem;
  line-height: 2.5rem;
}
.Login input{
  color: rgb(50,50,50);
  margin-bottom: 0.5rem;
  border: solid rgb(204,204,204) 0.125rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.Login input::placeholder{
  color: #b2b2b2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.Login button{
  vertical-align: middle;
  padding: 0.25rem 0.8rem;
  color: white;
  border: solid 0.0625rem rgba(0,0,0,0.1);
  background: rgb(51,51,51);
  height: 3rem;
  border-radius: 0.125rem;
}
.Loading{
  display: flex;
  pointer-events: none;
  z-index: 99;
  background: transparent;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  align-items: center;
}
.Loading img{
  width: 6rem;
  height: 6rem;
}
.Loading div{
  flex: 1;
  text-align: center;
}
.Loading p{
  position: absolute;
  left: calc(50% - 4rem);
  top: calc(50% - 1.5rem);
  color: #eee;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3rem;
  margin: 0;
  width: 8rem;
  text-align: center;
}
.extra{
  font-weight: 800;
  color: rgb(51,51,51);
  text-align: left;
  font-size: 1.25rem;
  padding: 1rem;
}
.extra > *{
  display: inline-block;
}
.lobby{
  text-align: center;
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.lobby h1{
  margin: 0;
  margin-top: 50vh;
  flex: 0;
  font-size: 2.75rem;
  position: relative;
  z-index: 0;
}
.lobby h2{
  margin: 0;
  margin-top: 1.25rem;
  position: relative;
  z-index: 0;
  /*flex: 1;*/
}
#L1{
  top: 0;
  padding-left: 1rem;
  position: fixed;
  width: 100%;
  background: white;
  border-bottom: solid 0.25rem rgb(204,204,204);
}
#L2{
  padding-right: 1rem;
  top: 0;
  right: 1.5rem;
  position: fixed;
}
.floater{
  padding-left: 1rem;
  top: 0;
}
.dark{
  background: rgb(51,51,51);
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
  min-width: 5rem;
  text-align: center;
  padding: 0.3rem;
  border-width: 0.0625rem;
  border-color: rgb(51,51,51);
  border-radius: 0.125rem;
}
.Answers{
  width: calc(100vw - 2rem);
  padding: 1rem;
  height: calc(100% - 8.25rem);
  display: flex;
  flex-flow: wrap;
  margin-top: 6rem;
  position: relative;
}
.Answers img{
  flex: 50%;
  max-height: calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  box-sizing: border-box;
  border: solid white 0.25rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.Answers img:nth-child(1){
  background: rgb(226,27,60);
  border-color: rgb(226,27,60);
}
.Answers img:nth-child(2){
  background: rgb(19,104,206);
  border-color: rgb(19,104,206);
}
.Answers img:nth-child(3){
  background: rgb(216,158,0);
  border-color: rgb(216,158,0);
}
.Answers img:nth-child(4){
  background: rgb(38,137,12);
  border-color: rgb(38,137,12);
}
img[index="0"]{
  background: rgb(226,27,60) !important;
  border-color: rgb(226,27,60) !important;
}
img[index="1"]{
  background: rgb(19,104,206) !important;
  border-color: rgb(19,104,206) !important;
}
img[index="2"]{
  background: rgb(216,158,0) !important;
  border-color: rgb(216,158,0) !important;
}
img[index="3"]{
  background: rgb(38,137,12) !important;
  border-color: rgb(38,137,12) !important;
}
[css="layout-tfr"]:not(.correct){
  background: rgb(226,27,60) !important;
  border-color: rgb(226,27,60) !important;
}
[css="layout-tfb"]:not(.correct){
  background: rgb(19,104,206) !important;
  border-color: rgb(19,104,206) !important;
}
[css="layout-tfr"].correct{
  background: rgb(226,27,60) !important;
}
[css="layout-tfb"].correct{
  background: rgb(19,104,206) !important;
}
.Answers .AnswerOptions{
  position: absolute;
  top: 50%;
  left: calc(50% - 4rem);
  width: 8rem;
  height: 4rem;
  background: white;
  border-radius: 1rem;
  display: flex;
}
.Answers .AnswerOptions img{
  max-height: unset;
}
.Answers .AnswerOptions img:nth-child(1){
  background: rgb(38,137,12);
}
.Answers.jumble{
  flex-flow: row;
}
.Answers.jumble .jumble{
  max-height: 100%;
  max-width: calc(25% - 1rem);
}
.Answers.jumble .textAnswer{
  flex-flow: row;
}
.draggable{
  position: absolute;
  margin-top: 1.5rem !important;
  max-width: calc(25% - 1rem) !important;
  max-height: calc(100% - 3rem) !important;
  height: 100%;
  top: 0;
}
#L1.darker{
  background-color: rgb(51,51,51);
  border-bottom: solid 0.25rem black;
}
.darker{
  color: white;
}
.darker .dark{
  background-color: white;
  color: black;
  border-color: white;
}
#resultMedal{
  position: absolute;
  top: 6.25rem;
  width: 10rem;
  left: calc((100vw - 10rem)/2);
}
.textAnswer{
  position: absolute;
  display: flex;
  width: calc(100% - 2rem);
  height: calc(100% - 3rem);
  flex-flow: wrap;
  pointer-events: none;
}
.textAnswer p{
  font-size: 1rem;
  flex: 50%;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.shadow::after{
  content: attr(text);
  text-shadow: black -1pt 2.25pt 0px, black 1pt 2.25pt 0px;
  -webkit-text-stroke: black 2pt;
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
}
.About{
  top: 100%;
  background: white;
  width: 100%;
  position: absolute;
  transition: 0.5s;
  overflow: scroll;
  height: 100%;
  z-index: 99;
}
.About *{
  margin-left: 0.5rem;
}
.ChallengeQuestion{
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  opacity: 0.7;
  pointer-events: none;
}
.noQuiz{
  z-index: 99;
}
.noQuiz br{
  pointer-events: none;
}
.noQuiz input{
  border: transparent;
  background: black;
  color: white;
  padding: 0.5rem;
  width: 15rem;
  border-radius: 0.5rem;
  font-weight: bolder;
  pointer-events: all;
}
.ChallengeQuestion:not(.noQuiz) span{
  background: #333;
  border-radius: .3rem;
  padding: .1rem;
}
.questionPreviewAnswers{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 8rem;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  color: black;
}
.questionPreviewAnswers h4{
  margin: 0px;
  margin-bottom: 0.25rem;
}
.questionPreviewAnswers div{
  flex: 1;
  display: flex;
  align-items: center;
  background: rgba(0,0,0,0.8);
  border: solid 0.1rem transparent;
  border-radius: 1rem;
  padding-right: 1rem;
  padding-left: 0.25rem;
  margin-bottom: 0.5rem;
  color: white;
}
.questionPreviewAnswers img{
  height: 4rem;
  margin-right: 0.25rem;
  border-radius: 1rem;
}
.iconred{
  background: rgb(226,27,60);
}
.iconblue{
  background: rgb(19,104,206);
}
.iconyellow{
  background: rgb(216,158,0);
}
.icongreen{
  background: rgb(38,137,12);
}
#abtclose{
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  display: block;
}
#about{
  display: none;
}
#about:checked + .About{
  top: 0;
}
#about:checked + .About > #abtclose{
  position: fixed;
}
#logotext{
  position: absolute;
  margin-top: calc(50vh - 4.8rem);
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Comic Sans", sans-serif;
}
#streakImage{
  background: rgb(235,103,16);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  transform: translateY(0.35rem);
  position: relative;
  margin-left: 0.5rem;
}
#streakImage p{
  position: absolute;
  top: -0.5rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
}
#streakImage img{
  height: 2rem;
}
[alt="load_circle"]{
  animation: spin 1s infinite;
  pointer-events: none;
}
[src="/resource/load-hole.svg"]{
  animation: spin2 0.75s infinite;
}
#snarkText{
  margin-top: 30vh;
}
#correctMark{
  height: 4.5rem;
}
.lobby h3{
  font-size: 2rem;
  padding: .625rem;
  line-height: 2.625rem;
  color: white;
  background-color: rgba(0,0,0,0.35);
  margin: 0;
  margin-left: calc(50% - 9.625rem);
  width: 18rem;
  border-radius: 0.25rem;
}
#bottomText{
  margin-top: 14rem;
}
#timer{
  position: fixed;
  top: calc(50% - 3rem);
  width: 100%;
  font-size: 3rem;
  font-weight: bolder;
  color: #ddd;
  z-index: 99;
}
.bottom{
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  background-image: linear-gradient(rgba(0,0,0,0),#999,#999,rgba(0,0,0,0));
  width: 100%;
  display: flex;
  text-align: center;
}
.bottom a{
  flex: 1;
  text-decoration: none;
  color: white;
}
.sm a{
  display: flex;
  color: black;
  text-decoration: none;
  align-items: center;
}
.sm {
  font-size: 2rem;
}
.sm.sidebar{
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  height: auto;
  padding: 1rem;
  background: #eee;
  border: solid;
}
.sm img,.sm object{
  width: 2rem;
  display: inline-block;
  margin: 0;
  height: 2rem;
}
.sm span{
  display: inline-block;
  flex: 1;
}
.next{
  position: fixed;
  top: 5rem;
  right: 1rem;
  background: #59d;
  border-radius: 0.75rem;
  padding: 0.5rem;
  font-weight: bolder;
  color: white;
  font-size: 1.5rem;
  z-index: 100;
}
.chtimer{
  background: rgb(51,51,51);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: white;
  min-width: 4rem;
  text-align: center;
  padding: 0.3rem;
  border-width: 0.0625rem;
  border-color: rgb(51,51,51);
  border-radius: 0.125rem;
}
.looseDiv{
  position: absolute;
  top: 5rem;
  width: 100%;
  max-height: calc(100% - 10rem);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.looseDiv input{
  border: 0;
  background: #6ad;
  border-radius: 0.75rem;
  color: white;
  font-size: 1.5rem;
  max-width: 40rem;
  width: 100%;
  text-align: center;
  flex: 1;
  padding: 0.5rem;
}
.looseDiv div{
  overflow: auto;
  height: 100%;
  flex: 1;
  padding: 0.5rem;
  max-width: 40rem;
  border-radius: 0.5rem;
  background: #333;
  font-weight: 100;
  width: 100%;
}
.looseChoice{
  background: rgba(255,255,0,0.2);
}
.looseDiv p{
  border-bottom: 1px solid #aaa;
}
.ad-container{
  width: 22rem;
  max-width: 25rem;
  height: calc(100% - 12rem);
  max-height: calc(100% - 12rem);
  top: 0;
  right: 0;
  position: fixed;
  z-index: 30;
}
.mobile-ad{
  display: none;
}
.failChoice{
  position: fixed;
  bottom: 4.5rem;
  left: 0;
  width: 100%;
}
.failChoice label:first-of-type{
  background: rgb(226,27,60);
}
.failChoice label:last-of-type{
  background: rgb(38,137,12);
}
.failChoice label{
  padding: 1rem;
  font-size: 1.5rem;
  border: 0.25rem solid transparent;
}
.failChoice input{
  display: none;
}
.failChoice input:checked + label{
  animation: rainbowBorder 7s infinite;
}
.relative{
  position: relative;
}
.center{
  text-align: center;
}
.wrap{
  flex-wrap: wrap;
}
code{
  background: #333;
  border-radius: 0.25rem;
  color: #f8f8f8;
}
input.info + div{
  display: none;
}
input.info:checked + div{
  display: flex;
  z-index: 500;
  align-items: center;
  flex-flow: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
div.info > div{
  margin: auto;
  position: relative;
  overflow-y: auto;
  max-width: 50rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: gray;
}
div.info > div img{
  max-width: 100%;
}
div.info > div label{
  position: absolute;
  top: 0.5rem;
  padding: 0.5rem;
  right: 0.5rem;
  background: #a00;
  border-radius: 0.25rem;
  font-style: normal;
}
.notice{
  position: fixed;
  width: calc(80% - 2rem);
  max-height: calc(90% - 2rem);
  top: 5%;
  color: white;
  border-radius: 1rem;
  margin: auto;
  left: 10%;
  overflow: scroll;
  background: black;
  padding: 1rem;
  z-index: 50;
}
.notice img{
  width: 100%;
}
.notice button{
  font-size: 2rem;
  position: absolute;
  background: rgba(255,255,255,0.3);
  color: white;
  border-radius: 0.5rem;
  border: transparent;
  right: 1rem;
  top: 1rem;
}
.mobishow{
  display: none;
}
.mobishow2{
  display: none;
}
#presets{
  position: fixed;
  overflow: visible;
  bottom: 0;
  right: 8rem;
}
#presets > label img{
  width: 4rem;
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  background: white;
  border-radius: 2rem;
}
#preset_toggle + div > label > span::before{
  content: "Open ";
}
#preset_toggle:checked + div > label > span::before{
  content: "Close ";
}
#preset_toggle + div > div {
  display: none;
  pointer-events: none;
}
#preset_toggle:checked + div > div {
  pointer-events: all;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  overflow: auto;
  display: block;
  background: #222;
}
.preset{
  background: #555;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 16rem;
  min-width: 10rem;
}
.preset img{
  display: inline-block;
  width: 1rem;
}
.preset p{
  font-size: 0.75rem;
  margin: 0;
}
.preset button{
  width: 100%;
  max-width: 10rem;
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  border: solid 0.1rem #222;
  color: white;
  background: #222;
}
.preset input + div{
  display: none;
}
.preset input:checked + div{
  display: block;
}
.error-info{
  pointer-events: all;
}

/* Scrollbar stuff */
::-webkit-scrollbar{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 0.5rem;
  width: 0.5rem;
}
::-webkit-scrollbar-thumb:hover{
  background: #555;
}

/* Update CSS */
#UpdateDiv{
  position: fixed;
  width: 90%;
  height: 80%;
  margin: 5%;
  background: black;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
}
#UpdateDiv button{
  border: 1px solid gray;
  background: #009900;
  margin: 0.5rem;
  color: white;
  font-weight: 500;
  font-size: 1.15rem;
}

/* Tutorial CSS */
.tutorial{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.tut_cont{
  z-index: 2000;
  pointer-events: all;
}
.tutorial button{
  width: 100%;
  background: #eee;
  border: 0px transparent;
  border-radius: 1rem;
}
#t_step0{
  background: #29f;
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 30%;
}
#t_step0 h1{
  font-size: 1.5rem;
}
#t_step1 {
  width: 25%;
  max-height: 75%;
  background: #29f;
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  top: 20%;
  left: 5%;
  overflow: auto;
}
#t_step3 {
  width: 25%;
  background: #29f;
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
#t_step4 {
  width: 25%;
  background: #29f;
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  bottom: 20%;
  left: 20%;
}
#t_step5 {
  width: 20%;
  max-height: calc(90% - 2rem);
  overflow: auto;
  background: #29f;
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  top: 5%;
  right: 1%;
}
#t_step6 {
  width: 20%;
  background: #29f;
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  top: 15%;
  right: 1%;
}
#t_step8 {
  width: 20%;
  background: #29f;
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  top: 15%;
  right: 40%;
}
#t_step9 {
  width: 20%;
  background: #29f;
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  top: 55%;
  right: 40%;
}
#t_step11 {
  width: 40%;
  background: #29f;
  border-radius: 3rem;
  padding: 1rem;
  position: absolute;
  top: 5%;
  overflow: auto;
  height: 90%;
  right: calc(30% - 1rem);
}

@media screen and (max-width: 800px) {
  div.info > div{
    max-width: 100%;
  }
  .preset{
    min-width: 7rem;
  }
  #resultMedal{
    top: 4.25rem;
  }
  .ad-container{
    max-height: 90px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
  }
  .ad-container .main-ad{
    display: none;
  }
  .ad-container .mobile-ad{
    display: block;
    height: 90px;
    max-height: 90px;
    width: auto;
  }
  .looseDiv input, .looseDiv div{
    max-width: 15rem;
  }
  .tutorial{
    display: none;
  }
  .openended{
    max-width: calc(90% - 1rem);
    margin-left: calc(5%);
  }
  .form{
    display: block;
  }
  #L2{
    bottom: 0;
    padding-left: 1rem;
    position: fixed;
    top: auto;
    right: auto;
    background: white;
    border-top: solid 0.25rem rgb(204,204,204);
    width: 100%;
  }
  .floater{
    float: auto;
    padding-left: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1.5rem;
  }
  .dark{
    bottom: 0;
    position: absolute;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 2.5rem;
  }
  .Answers{
    height: calc(100% - 4.75rem);
    margin-top: 3.5rem;
  }
  #L2.darker{
    background-color: rgb(51,51,51);
    border-top: solid 0.25rem black;
  }
  .textAnswer{
    height: calc(100% - 2rem);
  }
  .Changelog > div{
    max-width: 90vw;
    margin-left: 5vw;
  }
  #changelogclose{
    left: 80%;
  }
  .lobby{
    height: calc(100% - 4rem);
  }
  .lobby h1{
    margin-top: calc((100% - 4rem) / 2 + 2rem);
  }
  .lobby h2{
    margin-top: 1rem;
  }
  #snarkText{
    margin-top: 20vh;
  }
  .lobby h3{
    line-height: 2rem;
    font-size: 1.5rem;
  }
  .bottom{
    position: relative;
  }
  .Answers .AnswerOptions{
    top: calc(50% - 2rem);
  }
  .sm.sidebar span{
    display: none;
  }
  .sect + div{
    display: none;
  }
  .sect:checked + div{
    display: block;
  }
  .form > div{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #firstdiv{
    margin-top: 1rem;
  }
  .form h3{
    font-weight: normal;
    font-size: 1.25rem;
    text-align: center;
    background: #333;
  }
  .form h3.selected{
    background: #ddd;
    color: black;
  }
  .misc img{
    width: 4rem;
    height: 4rem;
    bottom: 4rem;
  }
  .extra{
    padding: unset;
  }
  #theme{
    max-width: none;
    min-width: unset;
  }
  .mobishow2{
    display: unset;
  }
  .mobishow2.displayFlex{
    display: flex;
  }
  .questionPreviewAnswers{
    top: 6rem;
  }
  .questionPreviewAnswers h4{
    margin: 0px;
    margin-bottom: 0.25rem;
    font-size: 1.15rem;
  }
  .questionPreviewAnswers div{
    padding-right: 1rem;
    padding-left: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    max-height: 2.5rem;
    overflow: auto;
  }
  .questionPreviewAnswers img{
    height: 2.5rem;
    margin-right: 0.1rem;
  }
  .ChallengeQuestion span{
    font-size: 0.9rem;
    max-height: 2.5rem;
    overflow: auto;
  }
  #bottomText{
    margin-top: 10rem;
  }
  #finalText{
    margin-top: 2rem;
  }
  .mobihide2{
    display: none !important;
  }
}
@media (pointer: coarse) {
  .mobireload{
    display: block !important;
  }
  .shortcut{
    display: none !important;
  }
  .Error:hover ::before{
    content: "" !important;
    color: auto !important;
    font-size: auto !important;
    margin-right: auto !important;
  }
  .mobihide{
    display: none;
  }
  .mobishow{
    display: unset;
  }
  .mobishow.displayFlex{
    display: flex;
  }
  nav.mobishow{
    display: flex;
    align-items: center;
  }
  /* Scrollbar stuff */
  ::-webkit-scrollbar{
    background: unset;
    width: 0;
  }
  ::-webkit-scrollbar-thumb{
    background: unset;
    border-radius: unset;
    width: 0;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: unset;
  }
}
